/* CSS RESET */
/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* CSS RESETTED */

html {
  	font-size: 1.6rem;
  	border:none;
	background: url(../assets/images/bg.jpg) no-repeat center center fixed;
	background-size: cover;
  
}

@media only screen and (max-width: 767px) {
  html {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
	background: url(../assets/images/) no-repeat center center fixed;
	background-size: cover;
	background-color:#032843;
  }
}

body{
	font-family: 'Titillium Web', 'Helvetica Neue', sans-serif;
	color: #fff;
	text-align: center;
	font-style: normal;
	font-size: 19px;
	font-size: 1rem;
	line-height: 1.6; 
	height:100%;
	  overflow: auto;
}

mwrap{
	padding: 0 1rem;
	display: block;
}
#logo{
	width: 150.5px;
	max-width: 50%;
	margin:1.2rem auto 0rem;
	display: block;
}
#logo img{
	width: 100%;
}
#logo a{
	border: none;
}
h1{
	font-size: 2.2rem;
	font-weight: bold;
}
h2{
	font-size: 1.2rem;
	font-weight: bold;
	margin-top: 2.4rem;
}

h3{
	font-size: 0.8rem;
	font-weight: normal;
	margin-top: 2.4rem;
	margin-left: 2.4rem;
	margin-right: 2.4rem;
	
}

h4 {
	text-align: center; list-style-position:inside;	font-size: 0.8rem;
	font-weight: normal;
}

p{
	margin-bottom: 1.2rem;
}
#appstore{
	margin: 1.2rem 0 1.8rem;
	display: inline-block;
	border: none;
}
#appstore img:hover{
	opacity:0.8;
}
#extension, #inbox{
	width: 310px;
}
visuals{
	display: block;
}
extratext{
	max-width: 30rem;
	border-top: 1px solid rgba(255,255,255,0.2);
	display: block;
	margin: 1.2rem auto 4rem;
	font-size: 0.8rem;
}
ol{
	list-style: decimal;
	padding: 0 1.2rem;
}
a{
	color: #fff;
	text-decoration: none;
	border-bottom: 1px dotted rgba(255,255,255,0.5);
}
a:hover{
	border-bottom: 1px solid #fff;
}

/* Style for the fase transition between images */
